body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #050a0f, #3450db);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

input {
    padding: 8px;
    border: 2px solid;
    outline: none;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 16px;
}

button {
    background: #000000;
    color: white;
    padding: 10px 17px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #01ff11;
}

#timerDisplay {
    font-size: 2rem;
    margin-top: 15px;
    border: 2px solid black;
    border-radius: 6px;
    background-color: black;
}

.reset {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#resetBtn {
    width: 100%;
    margin-top: 10px;
    font-size: 1rem;
}

#resetBtn:hover {
    background-color: rgb(26, 26, 26);
}
